@using FrameWork.MVC.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - سامانه شارپ</title>

  
    @Styles.Render("~/Content/Editor")
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jsTree")
    @Styles.Render("~/Content/SweetAlert")
    @Styles.Render("~/Content/GridMvc")
    

 


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav">
                    <li class="dropdown">

                    </li>
                </ul>


                @Html.ActionLinkWithIcon("سامانه جامع نرم افزاری شارپ", "index", "home", new{@area=""}, new { @class = "navbar-brand", @style = "font-family: BFantezy;font-size: 25px" }, "fa fa-home fa-inverse ")

            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("~/Areas/Admin/Views/Shared/_Authenticate.cshtml")

            </div>
         
        </div>
    
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Areas/Admin/Views/Shared/_SideMenu.cshtml")
    }
    
    


    <br/>

    <div class="container body-content">
        
      
        
        @RenderBody()
        <hr />
        <footer>

            <p style="">&copy; @DateTime.Now.Year - تهیه شده توسط مجید بومی پور</p>

        </footer>
    </div>


    @Scripts.Render("~/Script/jquery")
    @Scripts.Render("~/Script/modernizr")
    @Scripts.Render("~/Script/Bootstrap")
    @Scripts.Render("~/Script/Editor")
    @Scripts.Render("~/Script/jsTree")
    @Scripts.Render("~/Script/SweetAlert")
    @Scripts.Render("~/Script/GridMvc")
  


    @RenderSection("scripts", required: false)
</body>
</html>