@model WebApplicationMVC.Areas.Authentication.Models.ClaimsCreateViewModel
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "ClaimsAdmin", FormMethod.Post, new {id = ViewBag.id}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Claim</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Value, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Value, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Type, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Claim" class="btn btn-default" />
            </div>
        </div>
    </div>
}