@using FrameWork.MVC.Helper
@using GridMvc.Html
@model IEnumerable<DomainLayer.DB_Model.Send.Send>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WorkFlow/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li> گردش اطلاعات </li>
    <li class="active">‍ کارتابل </li>
</ol>

<a id="btnShowSends" class="btn btn-info" href="#">
    <i></i>  گردش
</a>

<a id="btnDelete" class="btn btn-danger" href="#">
    <i class="fa fa-trash-o fa-lg"></i>  حذف
</a>




<div id="GridInbox" class="gridDiv">

@Html.Grid(Model).Named("InboxGrid").Selectable(false).Columns(columns =>
{

    columns.Add().Encoded(false).Sanitized(false).SetWidth(10)
           .RenderValueAs(o => Html.CheckBox("checked", false, new { @Senid = o.SendId , @docId = o.DocId}));
    columns.Add(c => c.SendId, true);
    columns.Add()
                        .Titled("موضوع")
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(350)
                        .RenderValueAs(c => CustomRenderingOfSubjectColumn(c));

    columns.Add().Titled("فرستنده سند")
                 .RenderValueAs(c => c.SenderDepartment.Name + " " +  c.SenderEmployee.FullName);

    columns.Add(c => c.RegisterDateSh).Titled("تاریخ ارجاع");
    columns.Add(c => c.Document.RegisterDateSh).Titled("تاریخ سند");
    columns.Add(c => c.SendDescription).Titled("توضیح ارسال");

}).WithPaging(10).Selectable(true)

</div>




@helper CustomRenderingOfSubjectColumn(DomainLayer.DB_Model.Send.Send senRecord)
{

    <a href="@Url.Action("ShowDocument","Documents",new {@docid=senRecord.DocId})">@senRecord.Document.Subject</a>

}




@section scripts{

    <script>

        $('#btnDelete').click(function() {

            var selectedChkid = CheckSelectedSenIdInDiv('GridInbox');
            if (selectedChkid.length === 0) {
                swal({
                    title: "سندی انتخاب نشده است",
                    text: "",
                    type: "warning",
                    timer: 2000
                });
                return;
            }

            MoveToRecylebin('@Url.Action("MoveToRecyle")', selectedChkid,
                function(result) {
                    swal("سند به بازیافت منتقل شد", "", "success");
                },
                function(result) {
                    swal("اشکال در انتقال سند به بازیافت", "", "error");
                });


        });

        $('#btnShowSends').click(function() {


            var selectedChkid = CheckSelectedDocIdInDiv('GridInbox');

            if (selectedChkid.length === 0) {
                swal({
                    title: "سندی انتخاب نشده است",
                    text: "",
                    type: "warning",
                    timer: 2000
                });
                return;
            }

            if (selectedChkid.length > 40) {
                swal({
                    title: "فقط یک سند میتوانید انتخاب کنید",
                    text: "",
                    type: "warning",
                    timer: 2000
                });
                return;
            }


            var link = '@Html.Raw(Url.Action("ShowSends", "Send", new { @docId = "---"}))';
            link = link.replace("---", selectedChkid);
            window.location.href = link;

        });


    </script>

}
        